<div class="columns">
  <div class="column is-half is-offset-one-quarter" style="text-align: center; margin-top: 50px;">


    <h1>ngrxFire</h1>

      <img src="/assets/ngrx-firebase.png" alt="demo app with ngrx and firebase" width="200px" >

      <hr>


      <div *ngIf="user$ | async as user">
          
        
      
        <h1>Howdy, {{ user.displayName }}</h1>
        <h4>{{ user.uid }}</h4>

        <button class="button is-danger" 
                *ngIf="!user.uid"
                (click)="login()"
                [class.is-loading]="user.loading">

            <span class="icon">
              <i class="fa fa-google"></i>
            </span>
            <span>Sign In with Google</span>
        </button>
      
        <!-- <button (click)="googleLogin()" *ngIf="!user.uid" class="button is-danger">Sign In with Google</button> -->
        <button (click)="logout()"      *ngIf="user.uid"  class="button is-warn">Logout</button>
      </div>


      <hr>

      <div *ngIf="post$ | async as post">


        <i *ngIf="post.loading" class="fa fa-spin fa-refresh"></i>

          <h2>{{ post.text }}</h2>
          <h4>Votes: <span class="tag is-info is-large">{{ post.votes }}</span></h4>

          <hr>


          <button (click)="vote(post, 1)" class="button is-success">Upvote</button>
          <button (click)="vote(post, -1)" class="button is-danger">Downvote</button>
        
    </div>


    <button *ngIf="!(post$ | async) as post" (click)="loadPost()" class="button is-info">Load Post from Firebase</button>

    <hr>





  </div>
</div>









<router-outlet></router-outlet>
